<main class="py-16">
  <section class="bg-white text-center py-16">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-4">About Us</h1>
      <p class="text-xl text-gray-600 mb-8">Learn more about Autonome and our mission to revolutionize project management.</p>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-gray-100 py-16">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 px-4">
      <div>
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Mission</h2>
        <p class="text-gray-600 mb-6">At Autonome, our mission is to empower teams and organizations to achieve their highest potential through streamlined and efficient project management. We believe that with the right tools, anyone can manage their projects successfully and reach their goals.</p>
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Vision</h2>
        <p class="text-gray-600 mb-6">We envision a world where project management is intuitive, collaborative, and accessible to all. Our goal is to create a universal hub for project management that brings together the best features and tools to support teams of all sizes.</p>
      </div>
      <div class="flex justify-center items-center">
        <img src="https://as2.ftcdn.net/v2/jpg/04/44/53/81/1000_F_444538125_8rPiGmCTJU4vrf5soJwlic0PmTMkD8KZ.jpg" alt="Mission and Vision" class="rounded shadow-lg w-full md:w-3/4">
      </div>
    </div>
  </section>

  <!-- Team Section -->
  <section class="bg-white py-16">
    <div class="max-w-7xl mx-auto text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-8">Meet Our Team</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 flex justify-center">
        <div class="bg-gray-100 p-6 rounded shadow">
          <img src="https://media.istockphoto.com/id/1327592506/vector/default-avatar-photo-placeholder-icon-grey-profile-picture-business-man.jpg?s=612x612&w=0&k=20&c=BpR0FVaEa5F24GIw7K8nMWiiGmbb8qmhfkpXcp1dhQg=" alt="Team Member 4" class="rounded-full w-32 h-32 mx-auto mb-4">
          <h3 class="text-xl font-semibold">Mr. Rohit Agarwal</h3>
          <p class="text-gray-600">Project Guide</p>
        </div>
        <div class="bg-gray-100 p-6 rounded shadow">
          <img src="https://lh3.googleusercontent.com/a/ACg8ocLhGkNhDKMAEoR98IPGG4KwogAfCEibCYuG6X4GQpc14gcFkYDX=s96-c" alt="Team Member 1" class="rounded-full w-32 h-32 mx-auto mb-4">
          <h3 class="text-xl font-semibold">Gyan Prakash</h3>
          <p class="text-gray-600">Team Lead</p>
        </div>
        <div class="bg-gray-100 p-6 rounded shadow">
          <img src="assets/anshi.jpeg" alt="Team Member 2" class="rounded-full w-32 h-32 mx-auto mb-4">
          <h3 class="text-xl font-semibold">Anshi Mitra</h3>
          <p class="text-gray-600">Team Member</p>
        </div>
      </div>
    </div>
  </section>
</main>
